@import "compass/css3";
@import "_animation";

html {

  background: url('../assets/bg.png') no-repeat #C0DEED; 
}

.container {
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 320px;
  height: 480px;
  margin-left: -160px;
  margin-top: -240px;
  border: solid 2px #257CB1;
  border-radius: 10px;
}

.movingBackground1 {
  position: absolute;
  width: 320px;
  height: 480px;
  background-color: red;
  background: url('../assets/bg1.jpg') no-repeat;
}

.movingBackground2 {
  position: absolute;
  width: 320px;
  height: 480px;
  background-color: red;
  background: url('../assets/bg2.jpg') no-repeat;
}

.platform1 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud1.png') no-repeat;
}

.platform2 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud2.png') no-repeat;
}

.platform3 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud3.png') no-repeat;
}

.platform4 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud4.png') no-repeat;
}

.platform5 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud5.png') no-repeat;
}

.platform6 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud6.png') no-repeat;
}

.player {
  height: 91px;
  width: 80px;
  left: 0;
  margin-left: -40px;
  margin-top: -91px;
  position: absolute;
  top: 0;
  background: url('../assets/player.png') no-repeat;
  //border: dotted 1px grey;

  div {margin: 0; padding: 0;}
  div div {background: #A4CA39; position: relative;}
}
  