@import "compass/css3";
@import "_animation";

html {

  background: url('../assets/bg.png') no-repeat #C0DEED; 
}

.container {
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 320px;
  height: 480px;
  background: url('../assets/background.jpg') no-repeat;
  margin-left: -160px;
  margin-top: -240px;
  border: solid 5px grey;
  border-radius: 10px;
}

.platform {
  position: absolute;
  background: url('../assets/cloud2.png') no-repeat;
  //border: dotted 1px grey;
}

.player {
  height: 91px;
  width: 80px;
  left: 0;
  margin-left: -40px;
  margin-top: -91px;
  position: absolute;
  top: 0;
  background: url('../assets/player.png') no-repeat;
  //border: dotted 1px grey;
}
  