@import "compass/css3";
@import "_animation";



html {
  background:  #ADE9F4; 
  padding: 0px;
  margin: 0px;
}

body {
    padding: 0px;
  margin: 0px;
}

.top {
    position:absolute;
    padding: 0px;
    margin: 0px;
    top:0;
    width:100%;
    height:346px;
    background: url('../assets/bg3_b.jpg') repeat #ADE9F4; 
}

.bottom {
    position:absolute;
    padding: 0px;
    margin: 0px;
    bottom:0;
    width:100%;
    height:282px;
    background: url('../assets/bg3_a.jpg') repeat #ADE9F4; 
}

.container {
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 320px;
  height: 480px;
  margin-left: -160px;
  margin-top: -240px;
  border: solid 10px rgba(0,0,0,0.30);
  border-radius: 4px;
}



.movingBackground1 {
  position: absolute;
  width: 320px;
  height: 480px;
  background-color: red;
  background: url('../assets/bg1.jpg') no-repeat;
}

.movingBackground2 {
  position: absolute;
  width: 320px;
  height: 480px;
  background-color: red;
  background: url('../assets/bg2.jpg') no-repeat;
}

.platform1 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud1.png') no-repeat;
}

.platform2 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud2.png') no-repeat;
}

.platform3 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud3.png') no-repeat;
}

.platform4 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud4.png') no-repeat;
}

.platform5 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud5.png') no-repeat;
}

.platform6 {
  position: absolute;
  //border: dotted 1px grey;
  background: url('../assets/cloud6.png') no-repeat;
}

.player {
  height: 91px;
  width: 80px;
  left: 0;
  margin-left: -40px;
  margin-top: -91px;
  position: absolute;
  top: 0;
  background: url('../assets/player.png') no-repeat;
  //border: dotted 1px grey;

  div {margin: 0; padding: 0;}
  div div {background: #A4CA39; position: relative;}
}

.scoreboard {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 0px;
  left: 210px;
  background-color: transparent;
  font-family: 'Devonshire', cursive;
  //border: dotted 1px grey;
  text-align: right;
  font-size: 26px;
  color: #257CB1;
}

.button {   
  padding: 2px 15px 2px 15px;
  border: solid 4px rgba(255,255,255,0.80);
  border-radius: 4px;
  background-color: rgba(173,233,244,0.80);
  font-size: 30px;
} 

.baseGameScreen {
  position: absolute;
  width: 320px;
  height: 480px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 0px;
  background-color:  rgba(0,0,0,0.90);
  font-family: 'Devonshire', cursive;
  text-align: center;
  color: white;
  padding-top: 30%;
  @include transition(all 1s ease);  
}

.mainScreen {
  @extend .baseGameScreen;
  margin-left: -320px;

  .headline {
    font-size: 54px;
    width: 100%;
    display:block;
  }

  .text {
    font-size: 24px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  &.center {
    margin-left: 0%;
  }

  &.left {
    margin-left: 100%;
  }
}

.gameOver {
  @extend .baseGameScreen;
  margin-left: 320px;
  //background-color: rgba(37,124,177,0.80);  rgba(0,0,0,0.30);  rgba(173,233,244,0.80);
    
  .headline {
    font-size: 44px;
    width: 100%;
    display:block;
  }

  .text {
    font-size: 36px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  &.center {
    margin-left: 0%;
  }

  &.right {
    margin-left: 100%;
  }
}






  